body {
	margin: 0px;
	text-align: center;
	font-family: 'Arimo', sans-serif;
}
.topContainer {
	margin: 0;
	background-color: #142850;
	padding: 10% 20% 10% 20%;
}
.personName {
	font-weight: bold;
	padding: 25px 0;
	text-align: left;
	color: white;
	margin-top: auto;
	margin-bottom: auto;
}

/**********************Profile Picure and container "PIC"**********************/

.profilePic {
	width: 250px;
	border-radius: 100%;
}
.pic {
	text-align: right;
}

/******************************personal summary******************************/

.profile {
	padding: 5% 0;
}
.profile h2 {
	font-weight: bold;
}
.personal-paragraph {
	margin: auto;
	line-height: 2;
	padding: 10px 15% 0 15%;
	text-align: justify;
}

/************************ Work Experience ******************************/

.skills {
	background-color: #27496d;
	color: white;
	padding: 5% 0;
	
}
.fa-graduation-cap,
.fa-user-tie {
	font-size: 7rem;
}
.skill-row {
	width: 70%;
	margin: 50px auto;
	text-align: justify;
	line-height: 1.5;
}

/************************ Major Clients ******************************/
.majorClients {
	margin: 50px 0;
	padding: 0 20%;
	height: 300px;
}

.majorClients h5{
	font-size: 1.5rem;
	font-weight: bold;
	padding: 20px;
	color: #27496d;
}
.majorClients h2{
	font-weight: bold;
	padding-bottom: 30px;
}
.carousel-item img {
	height: 150px;
	width: auto;
	
}
.carousel-inner {
	padding: 0 20%;
}

/*************************Get in touch******************************/
.contact-me {
	background-color: #142850;
	padding: 50px 15% 0 15%;
	color: white;
}

.contact-me h2 {
	font-weight: bold;
}
.fab {
	font-size: 2rem;
	padding-top: 0;
}


.navigation {
	background-color: #142850!important;
	padding: 30px 20% 0 20%;
}
.brand {
	text-align: right;
	background-color: #142850;
	color: aliceblue;
	padding: 20px;
}


@media screen and (max-width: 990px) {
	.personName {
		text-align: center;
	}
	.pic {
		text-align: center;
	}
}
